*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header, .footer, .hero{
    background-color: #1f2937;
    color: white;
    
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-section{
    margin-left: 24px;
    display: flex;
    align-items: center;
}




.top-links{
    margin-right: 24px;
}

a{
    color: white;
    text-decoration: none;
    padding: 8px;
}

.main{
    flex: 1;
    display: flex;
    flex-basis: 100;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;   
}

.hero, .info, .quote, .call-to-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;    
}

.hero{
    justify-content: space-between;
    padding: 0 500px;
}

.hero-left{
display: flex;
flex-direction: column;

}

.hero-heading{
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text{
    margin-bottom: 10px;
    
}

.hero-right{
margin: 0;
}

.egg-scale{
    transform: scale(0.75);
}



.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    
}

.quote-container{
    width: 800px;
}
.quote-text{
    font-size: 36px;
    
}

.quote-citation{
    font-size: 24px;
    align-self: flex-end;
    text-align: right;
    margin-right: 50px;
    font-weight: bold;

}

.call-to-action-container{
    background-color: #3882f6;
    flex-basis: 1200px;
    height: 150px;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}
.call-to-action-left{
    display: flex;
    flex-direction: column;
}

.call-to-action-header{
    font-weight: bold;
    font-size: 24px;
}

button {
    display: inline-block;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
    background: transparent;
}




