*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header, .footer{
    background-color: #1f2937;
    color: white;
    
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-section{
    margin-left: 24px;
    display: flex;
    align-items: center;
}




.top-links{
    margin-right: 24px;
}

a{
    color: white;
    text-decoration: none;
    padding: 8px;
}

.main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}